*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100%;
}

img {
  display: block;
}

#map {
  background-color: hsl(78, 17%, 73%);
  height: 100%;
}

aside {
  background-color: hsl(90 18% 64%);
  color: hsl(320 17% 17%);
  padding: .8rem;
}

button {
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
}