*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
}

#map {
  background-color: hsl(78, 17%, 73%);
  height: 180vh;
}

aside {
  background-color: hsl(90 18% 64%);
  color: hsl(320 17% 17%);
  padding: .8rem;
}